/*------------------------------------*\
  #BTN
\*------------------------------------*/

@use "sass:color";

@mixin btn-generator($text-color, $bg-color) {
  display: inline-block;
  color: $text-color;
  background-color: $bg-color;

  &:hover {
    background-color: darken($bg-color, 10%);

    @include animate-grow();
  }
}

.btn {
  @extend .l-px-2;
  @extend .l-py-2;

  border-radius: 5px;

  @extend .t-tag;
  
  text-decoration: none;
  text-transform: uppercase;
}

.btn--is-primary {
  @include btn-generator(white, $c-primary);
}

.btn--is-secondary {
  @include btn-generator(white, $c-secondary);
}

.btn--is-dark {
  @include btn-generator(white, $c-shadow);
}

.btn--is-round {
  border-radius: 100%;
}
