.footer {
  width: 100%;
  max-width: 1024px;
  min-height: $app-footer-height;
  background-color: white;
  background-color: $c-app-footer-color;
}

.footer__content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  margin-top: -3rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include media-min('tablet') {
    margin-top: -8rem;
  }
}

.footer__image {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -16rem;

  mask-mode: luminance;
  mask-composite: exclude;
  mask-image: url(/assets/img/footer/clip-path.svg), url(/assets/img/footer/ornaments.svg);
  mask-repeat: no-repeat, no-repeat;
  mask-position: center, center;
  mask-size: cover, cover;
}
