/*------------------------------------*\
  #LINK
\*------------------------------------*/

@use "sass:color";

@mixin link-generator($color) {
  color: $color;
  text-decoration: none;
  border-bottom: 1pt dotted lighten($color, 10%);

  &:hover {
    color: lighten($color, 20%);
  }
}

.link {
  @include link-generator($c-secondary);
}

.link--is-light {
  @include link-generator($c-light);
}
