/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

// Bubble effect into increase of size

@mixin animate-bubble() {
  animation-name: animate-bubble-frames;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes animate-bubble-frames {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale(1);
  }
}

// Increase of size ending in shadow

@mixin animate-grow() {
  animation-name: animate-shadow-frames;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes animate-shadow-frames {
  0% {
    transform: scale(1) translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.2) translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.9);
  }
}

// Background to color
@mixin animate-bg-color($color) {
  background-color: $color;
  transition: background-color 0.25s ease-in;
}

// Spins forever

@mixin animate-spin() {
  animation: animate-spin-frames 0.5s ease-out infinite;
}

@keyframes animate-spin-frames {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
