/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$c-primary: #b33c3c;
$c-secondary: #aa0000;

$c-less-dark: #555555;
$c-dark: #353535;
$c-shadow: #111111;
$c-light: #888888;
$c-lighter: #aaaaaa;

$c-app-bg-color: black;
$c-app-footer-color: black;

$c-form-bg: #eeeeee;
$c-form-input-bg: #dedede;
$c-form-input-hover-bg: #f5d7d7;

$c-hero: white;
$c-hero-intro: white;

$c-appbar-link: $c-less-dark;
$c-appbar-link-selected: white;
$c-appbar-link-hover: white;

.c-light {
  color: $c-light;
}
