/*------------------------------------*\
  #DIMENSIONS
\*------------------------------------*/

$app-bar-height: 15rem;
$app-footer-height: 50rem;
$app-content-height: calc(100vh - #{$app-bar-height} - #{$app-bar-height});

$card-width: 19rem;
$record-width: 32rem;

