/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
@use "sass:meta";

// Añadido para dar soporte a fuentes Google locales

/* overpass-regular - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/overpass-v5-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/overpass-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* overpass-700 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/overpass-v5-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/overpass-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* permanent-marker-regular - latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/permanent-marker-v10-latin-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/assets/fonts/permanent-marker-v10-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font-primary: 'Permanent Marker', cursive;
$font-secondary: 'Overpass', sans-serif;

// Esto es porque SASS interpola variables quitándoles las comillas, lo que
// hace que los nombres de fuentes tengas espacios.

:root {
  --font-primary: #{meta.inspect($font-primary)};
  --font-secondary: #{meta.inspect($font-secondary)};
}

.t-hero {
  font-family: var(--font-primary);
  font-size: 4rem;
  text-align: right;
}

.t-hero-intro {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

.t-title {
  font-family: var(--font-primary);
  font-size: 3rem;
}

.t-subtitle {
  font-family: var(--font-secondary);
  font-size: 3rem;
  font-weight: bold;
}

.t-text {
  font-family: var(--font-secondary);
  font-size: 2rem;
}

.t-tag {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: bold;
}

.t-menu {
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.2rem;
}

.t-hidden {
  display: none;
}
