/*------------------------------------*\
  #ALIGN
\*------------------------------------*/

.l-center {
  text-align: center;
}

.l-left {
  text-align: left;
}

.l-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-min('tablet') {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}


