/*------------------------------------*\
  #CATALOG
\*------------------------------------*/

.l-catalog {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  list-style: none;

  margin-left: auto;
  margin-right: auto;

  @include media-min('tablet') {
    width: 100%;
  }
}

.l-catalog--is-big {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax($record-width, 1fr));
}

.l-catalog--is-comic {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  &.l-catalog--is-full {
    background-color: black;
    border: 0.5rem solid black;
  }

  & > .catalog__item {
    flex-grow: 1;
  }
}

.-catalog--is-rounded {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
