/*------------------------------------*\
  #MARGIN
\*------------------------------------*/

@for $i from 1 through 8 {
  $value: $i * 0.5;

  .l-mx-#{$i} {
    margin-left: #{$value}rem;
    margin-right: #{$value}rem;
  }
}

@for $i from 1 through 8 {
  $value: $i * 0.5;

  .l-my-#{$i} {
    margin-top: #{$value}rem;
    margin-bottom: #{$value}rem;
  }
}
