/*------------------------------------*\
  #PADDING
\*------------------------------------*/

@for $i from 1 through 8 {
  $value: $i * 0.5;

  .l-px-#{$i} {
    padding-left: #{$value}rem;
    padding-right: #{$value}rem;
  }
}

@for $i from 1 through 8 {
  $value: $i * 0.5;

  .l-py-#{$i} {
    padding-top: #{$value}rem;
    padding-bottom: #{$value}rem;
  }
}
