<div class="alert js-error">
    <div class="alert__box">
        <h1 class="alert__title js-error-title">Error</h1>
        <p class="alert__body js-error-text">There was an error when trying to connect with the server!</p>
        <div class="alert__buttons">
            <button class="button js-error-accept">OK</button>
        </div>
    </div>
</div>