<nav class="appbar">
    <a class="appbar__logo" href="index.html">
        <img src="assets/img/logo.svg" alt="MARVEL Logo" width="150" height="55" title="Go to home page">
    </a>
    <ul class="appbar__menu js-appbar-menu">
        <li id="series"><a class="appbar__menu-item" href="series.html">Series</a></li>
        <li id="characters"><a class="appbar__menu-item" href="characters.html">Characters</a></li>
        <li id="creators"><a class="appbar__menu-item" href="creators.html">Creators</a></li>
    </ul>
</nav>