<footer class="footer">

    <picture>
        <source media="(max-width:400px)" srcset="./assets/img/footer/footer-400.webp" type="image/webp">
        <source media="(min-width:400px) and (max-width:640px)"
                srcset="./assets/img/footer/footer-640.webp" type="image/webp">
        <source media="(min-width:640px)" srcset="./assets/img/footer/footer-1200.webp" type="image/webp">

        <source media="(max-width:400px)" srcset="./assets/img/footer/footer-400.jpg" type="image/jpg">
        <source media="(min-width:400px) and (max-width:640px)"
                srcset="./assets/img/footer/footer-640.jpg" type="image/jpg">
        <source media="(min-width:640px)" srcset="./assets/img/footer/footer-1200.jpg" type="image/jpg">

        <img src="./assets/img/footer/footer-640.jpg" alt="Footer background photo"
             class="footer__image">
    </picture>

    <div class="footer__content">
        <img src="assets/img/logo.svg" alt="MARVEL Logo" width="150" height="55">
        <p class="l-center l-py-2 t-tag c-light">All pictures and data provided by <cite
                  class="tm">Marvel</cite>.<br>&copy;<time
                  datetime="2020">2020</time> <cite class="tm">MARVEL</cite>.<br>

            <a class="link link--is-light" href="https://www.marvel.com/"
               title="Visit Marvel TM website">www.marvel.com</a>
        </p>
        <p class="l-center l-py-2 t-tag c-light">
            Website made by <a class="link link--is-light" href="https://cmrabet-hhc2-uoc.netlify.app/"
               title="Visit the author's website">Chakir Mrabet</a>, &copy;<time datetime="2020">2020</time>.</p>
        <p class="l-center t-tag c-light">
            Herramientas HTML y CSS 1.<br>
            Univesitat Oberta de Catalunya.
        </p>
        <div class="l-my-4 l-center">
            <include src="./partials/_go_top_button.html" locals='{"tag": "top", "text": "top"}'></include>
        </div>
    </div>

</footer>