<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Chakir Mrabet - cmrabet@uoc.edu">
    <meta name="description" content="A Web catalog for Marvel Comics">
    <meta name="keywords" content="Marvel, comics, catalog, superheroes, library">
    <title>Marvel Comics Catalog</title>
    <link rel="icon" type="image/ico" href="assets/img/favicon.ico">
    <link rel="preload" as="font" type="font/woff2" href="assets/fonts/overpass-v5-latin-regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="assets/fonts/overpass-v5-latin-700.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="assets/fonts/permanent-marker-v10-latin-regular.woff2" crossorigin>
    <link rel="stylesheet" href="assets/sass/style.scss">
</head>