<div class="paginator">
    <button class="paginator__item js-page-prev" title="Load the previous page">&vltri; Prev</button>
    <span class="paginator__pages js-page-buttons"></span>
    <button class="paginator__item js-page-next" title="Load the next page">Next &vrtri;</button>
</div>