/*------------------------------------*\
  #ALERT
\*------------------------------------*/

.alert {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.alert--is-visible {
  position: absolute;
  display: flex;
}

.alert__box {
  position: absolute;
  display: block;
  width: 25rem;
  top: calc(100vh / 2);
  border-radius: 0.5rem;
  background-color: white;
}

.alert__title {
  width: 100%;
  padding: 1rem;
  font-family: var(--font-primary);
  font-size: 2rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: #aa1a1a;
  color: white;
}

.alert__body {
  width: 100%;
  padding: 2rem 1rem 0.5rem 1rem;
  font-family: var(--font-secondary);
  font-size: 1.8rem;
  text-align: center;
}

.alert__buttons {
  width: 100%;
  text-align: center;
  padding: 2rem;
}
