/*------------------------------------*\
  #APPBAR
\*------------------------------------*/

.appbar {
  width: 100%;
  height: $app-bar-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @extend .l-px-3;
  @extend .l-py-2;

  background-color: $c-app-bg-color;

  @include media-min('tablet') {
    & {
      height: 6.5rem;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.appbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover{
    @include animate-bubble();
  }
}

.appbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @extend .l-my-2;

  @include media-min('tablet') {
    & {
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }
  }
}

.appbar__menu-item {
  position: relative;
  display: inline-block;

  margin-bottom: 0.75rem;

  @extend .t-menu;

  text-transform: uppercase;
  text-decoration: none;
  color: $c-appbar-link;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;

    background-color: $c-appbar-link-hover;
    clip-path: circle(0 at 50% 50%);
  }

  @include media-min('tablet') {
    & {
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
}

.appbar__menu-item:not(.appbar__menu-item--state-selected):hover {
  color: $c-appbar-link-hover;

  &::after {
    clip-path: circle(100% at 50% 50%);
    transition: clip-path 0.35s ease-out;
  }

  @include media-min('med') {
    & {
      margin-left: 1rem;
      line-height: unset;
    }
  }
}

.appbar__menu-item--state-selected {
  color: $c-appbar-link-selected;

  &::after {
    background-color: $c-appbar-link-selected;
    clip-path: circle(100% at 50% 50%);
  }
}
