.banner {
  position: relative;

  max-width: 1024px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);

  margin-bottom: -100px;

}

.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @extend .l-px-4;
  @extend .l-py-4;
}

.banner__title {
    @extend .t-hero;
    
    color: $c-hero;
}

.banner__intro {
    @extend .t-hero-intro;
    @extend .l-py-2;
    color: $c-hero-intro;
}

.banner__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
