/*------------------------------------*\
  #CARD
\*------------------------------------*/

.card {
  width: $card-width;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
  background-color: white;

  &:not(.card--is-icon) {
    @include animate-bubble();
  }
}

.card--is-icon {
  background-color: transparent;

  & .card__image {
    clip-path: circle(40%);
  }

  & .card__description {
    color: $c-shadow;
    background-color: transparent;
  }

  &:hover {
    & .card__image {
      transition: clip-path 0.25s ease-in;
      clip-path: circle(100%);
    }

    & .card__description {
      transition: color 0.25s ease-in, background-color 0.25s ease-in;
      color: white;
      background-color: $c-shadow;
    }
  }
}

.card--is-comic {
  width: 100%;
}

.card--is-small {
  width: 100px;
}

.card--is-horizontal {
  flex-direction: row;
}

.card__image {
  display: block;
  width: 100%;

  filter: grayscale(100%) brightness(100%);

  &:hover {
    filter: none;
    transform: scale(1.1);
    transition: filter 0.15s ease-in;

    @include animate-grow();
  }
}

.card__description {
  width: 100%;
  position: absolute;
  bottom: 0;

  @extend .l-px-1;
  @extend .l-py-1;

  @extend .t-tag;

  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: $c-shadow;
}
