/*------------------------------------*\
  #COMMIC
\*------------------------------------*/

.comic {
  display: flex;
  flex-direction: column;
  align-items: center;

  & {
    @include media-min('tablet') {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.comic__cover {
  width: 350px;

  @include media-min('tablet') {
    width: 500px;
  }
}

.comic__cover-image {
  width: 100%;
}

.comic__details {
  max-width: 300px;
  text-align: center;

  & {
    @include media-min('tablet') {
      margin-left: 2rem;

      text-align: left;
    }
  }
}
