/*------------------------------------*\
  #DETAILS
\*------------------------------------*/

.details {
  min-height: 16rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-min('tablet') {
    justify-content: center;
  }
}

.details--is-left {
  align-items: flex-start;
}

.details--is-horizontal{
  @include media-min("tablet"){
    flex-direction: row;
    align-items: center;
  }
}

.details__term {
  margin-bottom: 0.5rem;
  font-weight: bold;

  text-transform: uppercase;
  color: $c-less-dark;

  @include media-min('tablet') {
    & {
      margin-right: 0.5rem;
    }
  }
}

.details__description {
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: $c-shadow;

  @include media-min('tablet') {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
