/*------------------------------------*\
  #LOADER
\*------------------------------------*/

.loader {
  display: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #555555;
}

.loader--state-visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__image {
  //@include animate-spin();
}
