/*------------------------------------*\
  #PAGE
\*------------------------------------*/

.page {
  background-image: url(/assets/img/comic-bg.webp);
  background-position: center center;
}

.page__body {
  width: 100%;
  max-width: 1024px;
}

.page__section {
  position: relative;
  width: 100%;
  min-height: 30rem;
  z-index: 10;

  @extend .l-px-6;
  @extend .l-py-6;

  overflow: auto;
  background-color: transparent;

  &:last-of-type {
    margin-bottom: 5rem;
  }
}

.page__section--is-short {
  min-height: 10rem;
}

.page__section--is-dark {
  background-color: #eeeeee;
}

.page__title {
  @extend .l-py-6;

  @extend .t-title;

  text-align: center;
  color: $c-primary;
}

.page__subtitle {
  margin-bottom: 2rem;

  @extend .t-subtitle;
  text-transform: uppercase;

  border-bottom: 2pt solid $c-shadow;
  text-align: center;
}

.page__heading {
  margin-bottom: 2rem;

  @extend .t-subtitle;

  text-align: center;
  text-transform: uppercase;
}

.page__text {
  @extend .l-my-3;

  @extend .t-text;

  text-align: center;
  color: $c-dark;
}
