.paginator {
  display: flex;
  flex-direction: column;

  @include media-min('tablet') {
    flex-direction: row;
  }
}

.paginator__pages {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-items: center;
  flex-wrap: wrap;

  @include media-min('tablet') {
    display: flex;
    justify-content: center;
  }
}

.paginator__item {
  @extend .l-px-2;
  @extend .l-py-2;
  @extend .t-text;

  text-decoration: none;
  color: $c-shadow;
  background-color: transparent;
  cursor: pointer;

  border: none;
  border-radius: 5px;

  &:hover:not(.paginator__item--is-selected) {
    color: $c-primary;
  }
}

.paginator__item--is-selected {
  color: white;
  background-color: $c-primary;
}

.paginator__item--is-disabled {
  display: none;
}
