/*------------------------------------*\
  #RECORD
\*------------------------------------*/

.record {
  width: $record-width;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: white;
  border: 2pt solid $c-shadow;
  text-decoration: none;

  &:hover {
    border-color: $c-primary;
    transition: border-color 0.25s ease-in;

    .record__title {
      @include animate-bg-color($c-primary);
    }

    .record__image {
      filter: none;

      @include animate-grow();
    }

    .record__details {
      @include animate-bg-color($c-lighter);
    }
  }
}

.record__title {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @extend .l-px-2;
  @extend .l-py-2;

  @extend .t-menu;
  text-align: center;

  background-color: $c-shadow;
  color: white;
}

.record__body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.record__image {
  width: 168px;
  height: 252px;
  display: block;

  filter: grayscale(100%) brightness(100%);
}

.record__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
}
