/*------------------------------------*\
  SCROLLBAR
\*------------------------------------*/

* {
  scrollbar-width: thin;
  scrollbar-color: $c-primary black;
}

/**
    * This is scrollbar styling for Chrome, Safari and Edge.
    */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: $c-primary;
  border-radius: 20px;
}
