/*------------------------------------*\
  #BASE
\*------------------------------------*/

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $c-app-bg-color;
}

header {
  width: 100%;
}

main {
  min-height: $app-content-height;
  padding-top: 75px;
  background-color: white;
}

q {
  quotes: '«' '»';
}

cite {
  &.tm:after {
    content: 'TM';
    font-size: 1rem;
    vertical-align: super;
  }

  &.title {
    font-style: italic;
  }
}
