/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

@use "sass:map";

@function width-for($breakpoint-name, $min: true) {
  @return map.get($breakpoints, $breakpoint-name);
}

@mixin media-min($breakpoint-name) {
  @media (min-width: width-for($breakpoint-name)) {
    @content;
  }
}

@mixin media-max($breakpoint-name) {
  @media (max-width: width-for($breakpoint-name, false)) {
    @content;
  }
}
